@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');
*{
  margin: 0;padding: 0;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}
section{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

section div {
  position: relative;
  width: 50%;
  overflow: hidden;
  background: #20506b;
}
section div:nth-child(1){
  background: #000;
}
section div h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 12em;
  line-height: 100vh;
  animation: animate 60s linear infinite;
}
@keyframes animate{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
section div:nth-child(1) h2{
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  left: 100%;
}
section div:nth-child(2) h2{
  color: #fff;
  left: 0;
}