:root {
  --clr-primary-200: #F3EED9;
  --clr-primary-400: #824936;
  
  --clr-neutral-100: #FFF;
  --clr-neutral-900: #222C2A;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body{
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family:var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

.bg-light{
  background-color: var(--clr-primary-200);
}
.bg-primary{
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}
.bg-dark{
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}
.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

header,
section {
  padding: 3rem 0;
}
@media (min-width: 40em){
  header,
  section {
    /* 7rem = 112px; 1rem = 16px*/
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
.container--narrow{
  max-width: 34rem;
}

.text-center{
  text-align: center;
}

h2,
h3,
p {
  /* 1em = 31.5px; 1rem = 16px*/
  margin-bottom: 1em; 
}

img{
  display: block;
  max-width: 100%;
}

.split{
  display: flex;
  flex-direction: column;
}
/* 40em = 640px */
@media (min-width: 40em){
  .split{
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 2em;
  }
}
