* {
  margin: 0;padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./img/bg.jpg');
  background-size:cover ;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
section::before{
  content: '';
  position: absolute;
  left: 0;top: 0;bottom: 0;right: 0;
  background-image: url('./img/rain.png');
  animation: rain .2s linear infinite;
}

@keyframes rain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20% 100% ;
  }
}