* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.hexagon {
  position: relative;
  width: 60px;
  height: 100px;
  background: #0F0;
}
.hexagon2 {
  width: 120px;
  height: 100px;
  background: #0F0;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon:before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 0px;
  height: 0px;
  border-right: 30px solid #000;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.hexagon:after {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 0px;
  height: 0px;
  border-left: 30px solid #000;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.container {
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}