* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
}

.hexagon2 {
  position: relative;
  margin: 2px;
  width: 100px;
  height: 110px;
  background: #111;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
.hexagon2:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.02);
}
.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 2
}

.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}
.row:nth-child(even) {
  margin-left: 1px;
}

#cursor{
  width: 300px;
  height: 300px;
  background: #0F0;
  position: absolute;
  left: 0px;top: 0px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: animate 4s linear infinite;
  z-index: 1;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg) blur(50px);
  }
  100% {
    filter: hue-rotate(360deg) blur(50px);
  }
}